<a href="{{ path(constant('App\\AdminLanguage\\Infrastructure\\Controller\\LanguageViewController::LANGUAGE_ROUTE_NAME')) }}"
   class="menu-item {{ app.request.get('_route') in [
       constant('App\\AdminLanguage\\Infrastructure\\Controller\\LanguageViewController::LANGUAGE_ROUTE_NAME'),
       constant('App\\AdminLanguage\\Infrastructure\\Controller\\LanguageEditController::LANGUAGE_EDIT_ROUTE_NAME'),
   ] ? 'active' }}"
>
    <span>
        <i class="fas fa-language">{# icon #}</i>
        <span class="menu-label">{{ _a('Language') }}</span>
    </span>
</a>
