build/
screenshots/
tests/
var/
vendor/
.git/
.idea/
node_modules/
public/build/
bin/phpunit
.dockerignore
.editorconfig
.env
.env.test
.gitignore
.gitlab-ci.yml
docker-compose.prod.yml
docker-compose.yml
Dockerfile
phpcs.xml
phpstan.neon
phpstan-tests.neon
phpunit.xml.dist
README.md
symfony.lock
