includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/symplify/phpstan-rules/config/symplify-rules.neon
    #- vendor/phpstan/phpstan-doctrine/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    paths:
        - src
        - config

    symfony:
        container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
        console_application_loader: build/phpstan/console-loader.php

    #doctrine:
    #    objectManagerLoader: build/phpstan/doctrine-bootstrap.php

    level: max

    excludePaths:
    		- config/bundles.php
    		- src/ModuleInterface.php
