includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

    - vendor/symplify/phpstan-rules/config/static-rules.neon
    - vendor/symplify/phpstan-rules/config/nette-rules.neon
    - vendor/symplify/phpstan-rules/config/array-rules.neon
    - vendor/symplify/phpstan-rules/config/forbidden-static-rules.neon
    - vendor/symplify/phpstan-rules/config/doctrine-rules.neon
    - vendor/symplify/phpstan-rules/config/size-rules.neon
    - vendor/symplify/phpstan-rules/config/regex-rules.neon
    - vendor/symplify/phpstan-rules/config/symfony-rules.neon
    - vendor/symplify/phpstan-rules/config/test-rules.neon
    - vendor/symplify/phpstan-rules/config/services-rules.neon
    - vendor/symplify/phpstan-rules/config/naming-rules.neon
    - vendor/symplify/phpstan-rules/config/string-to-constant-rules.neon
    - vendor/symplify/phpstan-rules/config/configurable-rules.neon
    - vendor/symplify/phpstan-rules/config/services/services.neon

    #- vendor/phpstan/phpstan-doctrine/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    paths:
        - src
        - config

    symfony:
        container_xml_path: var/cache/dev/App_BaseKernelDevDebugContainer.xml
        console_application_loader: build/phpstan/console-loader.php

    #doctrine:
    #    objectManagerLoader: build/phpstan/doctrine-bootstrap.php

    level: max

    excludePaths:
        - config
        - src/ModuleInterface.php
        - src/AdminModuleInterface.php
        - src/Core/Infrastructure/Twig/TranslationExtension.php
        - src/helpers.php

    ignoreErrors:
        - '#Method call on new expression is not allowed#'
        - '#Use separate function calls with readable variable names#'
        - '#Missing sprintf\(\) function for a mask#'
        - '#Array method calls \[\$this, \"method\"\] are not allowed#'
        - '#Method "execute\(\)" returns bool type#'
