{% extends 'layout/default.html.twig' %}

{% block pageTitle %}
    {% trans from 'backoffice' %}Admin{% endtrans %}
{% endblock %}

{% block content %}
    <h2 class="text-3xl text-black mb-10">{% trans from 'backoffice' %}Admin{% endtrans %}</h2>

    <div class="w-full">
        <div class="flex justify-between items-center mb-3">
            <p class="text-xl flex items-center">
                <i class="fas fa-list mr-3"></i>
                {% trans from 'backoffice' %}Latest Admins{% endtrans %}
            </p>

            <button class="btn btn-primary w-100">{% trans from 'backoffice' %}Create{% endtrans %}</button>
        </div>

        <div class="overflow-x-auto border">
            <table class="table w-full">
                <thead>
                    <tr>
                        <th>{% trans from 'backoffice' %}Email{% endtrans %}</th>
                        <th>{% trans from 'backoffice' %}Created At{% endtrans %}</th>
                        <th>{% trans from 'backoffice' %}Updated At{% endtrans %}</th>
                    </tr>
                </thead>

                <tbody>
                    {% for admin in pagination %}
                        <tr>
                            <td>{{ admin.email }}</td>
                            <td>{{ admin.createdAt }}</td>
                            <td>{{ admin.updatedAt ?? '-' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
