<a href="{{ path('backoffice.dashboard') }}"
   class="flex items-center bg-primary text-white py-4 pl-6 nav-item
          {{ app.request.get('_route') in ['backoffice.dashboard'] ? 'bg-primary-focus' : 'hover:bg-primary-focus/50 focus:bg-primary-focus/50' }}"
>
    <i class="fas fa-tachometer-alt mr-3"></i>
    {% trans from 'backoffice' %}Dashboard{% endtrans %}
</a>

<a href="{{ path('backoffice.admin.list') }}"
   class="flex items-center bg-primary text-white py-4 pl-6 nav-item
          {{ app.request.get('_route') in ['backoffice.admin.list'] ? 'bg-primary-focus' : 'hover:bg-primary-focus/50 focus:bg-primary-focus/50' }}"
>
    <i class="fas fa-sticky-note mr-3"></i>
    {% trans from 'backoffice' %}Admin{% endtrans %}
</a>
