            </ul>
        </nav>
    </div>

    <div class="sidebar-custom">
        <a href="#" class="btn btn-secondary w-100">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>{% trans from 'backoffice' %}Logout{% endtrans %}</span>
        </a>
    </div>
</aside>
