<aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
    <a href="{{ path('backoffice.dashboard') }}" class="brand-link text-center">
        <span class="brand-text text-uppercase text-bold">{{ backofficeLabel }}</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
