<li class="nav-item {% if active is defined %}menu-open{% endif %}">
    <a href="#" class="nav-link {% if active is defined %}active{% endif %}">
        <i class="nav-icon fa-solid fa-users-gear"></i>
        <p>
            {% trans from 'backoffice' %}Admins{% endtrans %}
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{ path('backoffice.admin.list') }}" class="nav-link {% if activeList is defined %}active{% endif %}">
                <i class="nav-icon far fa-circle nav-icon"></i>
                {% trans from 'backoffice' %}List{% endtrans %}
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('backoffice.admin.create') }}" class="nav-link {% if activeCreate is defined %}active{% endif %}">
                <i class="nav-icon far fa-circle nav-icon"></i>
                {% trans from 'backoffice' %}Create{% endtrans %}
            </a>
        </li>
    </ul>
</li>
