<li class="nav-item">
    <a href="{{ path('backoffice.dashboard') }}" class="nav-link {% if active is defined %}active{% endif %}">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
            {% trans from 'backoffice' %}Dashboard{% endtrans %}
        </p>
    </a>
</li>

