<a href="{{ path(constant('App\\AdminDashboard\\AdminDashboardRouteName::DASHBOARD')) }}" class="menu-item {{ app.request.get('_route') in [constant('App\\AdminDashboard\\AdminDashboardRouteName::DASHBOARD')] ? 'active' }}">
    <span>
        <i class="fas fa-tachometer-alt">{# icon #}</i>
        <span class="menu-label">{{ _('Dashboard') }}</span>
    </span>
</a>