<optgroup label="{{ _a('Dashboard') }}">
    <option value="{{ path(constant('App\\AdminDashboard\\Infrastructure\\Controller\\DashboardController::DASHBOARD_ROUTE_NAME')) }}">{{ _a('Dashboard') }}</option>
</optgroup>
