{% extends 'core/layout/default.html.twig' %}

{% block title %}Symfony {{ symfony }}{% endblock %}

{% block main %}
    <div class="p-5 mb-4 bg-gray border">
        <div class="container-fluid py-5">
            <h1 id="symfony" class="display-5 fw-bold text-uppercase text-center">Symfony {{ symfony }}</h1>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-lg-6 mb-4">
            <div class="h-100 p-5 text-white bg-dark">
                <h2 id="php" class="text-uppercase text-center">Php {{ php }}</h2>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="h-100 p-5 bg-light border">
                <h2 id="env" class="text-uppercase text-center">Environment {{ env }}</h2>
            </div>
        </div>
    </div>
{% endblock %}
