{% extends 'back/layout/default.html.twig' %}

{% block pageTitle %}
    {% trans from 'backoffice' %}Create Admin{% endtrans %}
{% endblock %}

{% block content %}
    <h2 class="text-3xl text-black mb-10">{{ block('pageTitle') }}</h2>

    {{ form(form) }}
{% endblock %}
