<footer class="main-footer">
    <strong>{% trans from 'backoffice'%}Powered by{% endtrans %} <a target="_blank" href="https://github.com/Viktor-V/boilerplate" class="underline">Symfony Boilerplate</a>.</strong>
</footer>
