<noscript>
    <div class="noscript">
        <div class="container">
            <div class="content">
                <h2>{% trans from 'backoffice' %}JavaScript Required{% endtrans %}</h2>
                <h4>
                    {% trans from 'backoffice' %}If you can't enabled JavaScript, try to visiting the{% endtrans %} -
                    <a href="https://www.enable-javascript.com/">{% trans from 'backoffice' %}how to enable JavaScript in your browser{% endtrans %}</a>
                </h4>
            </div>
        </div>
    </div>
</noscript>
