$icon-size: 3rem;

.icon-square {
    width: $icon-size;
    height: $icon-size;
    border-radius: .75rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.icon-circle {
    @extend .icon-square;

    border-radius: $icon-size / 2;
}
