{% if pageCount > 1 %}

    <div class="flex justify-between items-center mt-3">
        <div class="w-1/2"></div>

        <div class="btn-group ">
            {% if previous is defined %}
                <a class="btn" rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">{% trans %}Previous page{% endtrans %}</a>
            {% endif %}

            <button class="btn btn-disabled">{{ app.request.query.get('page', 1) }}</button>

            {% if next is defined %}
                <a class="btn" rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">{% trans %}Next{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
{% endif %}
