<ul role="menubar" class="menu">
    <li class="menu-item">
        <a href="{{ path(constant('App\\Core\\RouteName::HOMEPAGE')) }}" class="menu-link active">{{ _('Home') }}</a>
    </li>

    <li class="menu-item">
        <a href="#" class="menu-link">{{ _('Contact') }}</a>
    </li>
</ul>
