<ul role="menubar" class="menu">
    <li class="menu-item">
        <a href="{{ path(constant('App\\Core\\Infrastructure\\Controller\\HomeController::HOME_ROUTE_NAME')) }}"
           class="menu-link {{ app.request.get('_route') in [constant('App\\Core\\Infrastructure\\Controller\\HomeController::HOME_ROUTE_NAME')] ? 'active' }}"
        >
            {{ _('Home') }}
        </a>
    </li>

    {% if constant('App\\Common\\Blog\\BlogModule::ENABLE') %}
        {% include 'blog/menu/link.html.twig' %}
    {% endif %}

    {% if constant('App\\Common\\Contact\\ContactModule::ENABLE') %}
        {% include 'contact/menu/link.html.twig' %}
    {% endif %}

    {% if constant('App\\Common\\Language\\LanguageModule::ENABLE') %}
        {% include 'language/menu/language.html.twig' %}
    {% endif %}
</ul>
