header {
    @extend .pb-3;
    @extend .mb-4;
    @extend .border-bottom;
    @extend .d-flex;
    @extend .flex-column;
    @extend .flex-md-row;
    @extend .align-items-sm-center;

    .brand {
        @extend .m-0;
        @extend .d-flex;
        @extend .align-items-center;

        .link {
            @extend .d-flex;
            @extend .text-dark;
            @extend .text-decoration-none;

            strong {
                @extend .fs-4;
            }
        }
    }

    .menu {
        @extend .mt-2;
        @extend .mt-md-0;
        @extend .ms-md-auto;
        @extend .d-sm-inline-flex;
        @extend .nav;
        @extend .nav-pills;

        .menu-item {
            width: 100%;
            @extend .nav-item;
            @extend .d-block;
            @extend .d-sm-inline;

            .menu-link {
                @extend .nav-link;
            }
        }
    }

    .dropdown-group {
        width: 100%;
        @extend .btn-group;
        @extend .mt-2;
        @extend .mt-sm-0;
        @extend .ms-sm-2;

        .dropdown-label {
            width: 50%;
            @extend .btn;
            @extend .btn-outline-primary;
        }

        .dropdown-btn {
            width: 50%;
            @extend .btn;
            @extend .btn-primary;
        }

        .dropdown-menu {
            width: 100%;
            right: 0;
            @extend .mt-1;
            @extend .dropdown-menu;
        }
    }
}

@include media-breakpoint-up(sm) {
    header .menu .menu-item {
        width: auto !important;
    }

    header .dropdown-group,
    header .dropdown-group .dropdown-label,
    header .dropdown-group .dropdown-btn,
    header .dropdown-group .dropdown-menu {
        width: auto !important;
    }
}
