.admin-footer {
    background: $primary;

    footer {
        @extend .container-xl;
        @extend .mt-0;

        color: rgba(255, 255, 255, 0.9) !important;
        border: 0 !important;
    }
}
