.sidebar {
    @extend .col-lg-3;
    @extend .col-md-4;

    .mobile-menu {
        @extend .w-100;
        @extend .d-md-none;

        select {
            @extend .form-select;
            @extend .form-select-lg;
            @extend .mb-3;
        }
    }

    .sidebar-menu {
        @extend .list-group;
        @extend .d-md-block;
        @extend .d-none;

        .menu-item {
            @extend .list-group-item;
            @extend .list-group-item-action;

            color: $gray-800;
            font-size: 0.9rem;

            .menu-label {
                margin: 0 0.4rem 0 1.8rem;
            }

            span > .menu-label {
                margin: 0 0.4rem;
            }
        }
    }
}