<header class="pb-3 mb-4 border-bottom">
    <a href="{{ path(constant('App\\Core\\RouteName::HOMEPAGE')) }}" class="d-flex align-items-center text-dark text-decoration-none">
        <strong class="fs-4">{{ project }}</strong>
    </a>
</header>
