<header>
    <h1 class="brand">
        <a href="{{ path(constant('App\\Core\\CoreRouteName::HOMEPAGE')) }}" class="link">
            <strong>{{ project }}</strong>
        </a>
    </h1>

    {% include 'core/partial/header/menu.html.twig' %}
</header>
