{% for key, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ key }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{% if errors is defined %}
    {% for error in errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endfor %}
{% endif %}
