<div class="admin-header">
    <header>
        <h1 class="brand">
            <a href="{{ path(constant('App\\Admin\\AdminDashboard\\Infrastructure\\Controller\\DashboardController::DASHBOARD_ROUTE_NAME')) }}" class="link">
                <strong>{{ project }}</strong>
            </a>
        </h1>

        {% if menu is defined and menu is not empty %}
            {{ menu|raw }}
        {% endif %}
    </header>
</div>
