<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            {{ project }}
        {% endblock %}
    </title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <main>
        <div class="container py-4">
            {% block header %}
                {% include 'core/partial/header.html.twig' %}
            {% endblock %}

            {% block main %}
                {# main block #}
            {% endblock %}

            {% block footer %}
                {% include 'core/partial/footer.html.twig' %}
            {% endblock %}
        </div>
    </main>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
