 <a href="{{ path(constant('App\\Admin\\AdminCache\\Infrastructure\\Controller\\CacheController::CACHE_ROUTE_NAME')) }}" class="menu-item {{ app.request.get('_route') in [constant('App\\Admin\\AdminCache\\Infrastructure\\Controller\\CacheController::CACHE_ROUTE_NAME')] ? 'active' }}">
    <span>
        <i class="fas fa-eraser">{# icon #}</i>
        <span class="menu-label">{{ _a('Cache control') }}</span>
    </span>
</a>
