<optgroup label="{{ _a('Cache') }}">
    <option value="{{ path(constant('App\\AdminCache\\Infrastructure\\Controller\\CacheController::CACHE_ROUTE_NAME')) }}">{{ _a('Cache control') }}</option>
</optgroup>
