<noscript>
    <div class="noscript">
        <div class="container">
            <div class="content">
                <h2>{{ _('JavaScript Required') }}</h2>
                <h4>
                    {{ _("If you can't enabled JavaScript, try to visiting the") }} -
                    <a href="https://www.enable-javascript.com/">{{ _('how to enable JavaScript in your browser') }}</a>
                </h4>
            </div>
        </div>
    </div>
</noscript>
