<ul role="menubar" class="menu">
    <li class="menu-item">
        <a href="{{ path(constant('App\\Core\\CoreRouteName::HOMEPAGE')) }}" class="menu-link">
            {{ _('Home') }}
        </a>
    </li>

    <li class="menu-item">
        <a href="#" class="menu-link">
            {{ _('Logout') }}
        </a>
    </li>
</ul>
