<ul role="menubar" class="menu">
    <li class="menu-item">
        <a href="{{ path(constant('App\\Core\\CoreRouteName::HOMEPAGE')) }}" class="menu-link">
            {{ _('Home') }}
        </a>
    </li>

    {% if constant('App\\AdminSecurity\\AdminSecurityModule::ENABLE') %}
        <li class="menu-item">
            <a href="{{ path(constant('App\\AdminSecurity\\AdminSecurityRouteName::LOGOUT')) }}" class="menu-link">
                {{ _('Logout') }}
            </a>
        </li>
    {% endif %}
</ul>
