<ul role="menubar" class="menu">
    <li class="menu-item">
        <a href="{{ path(constant('App\\Core\\Infrastructure\\Controller\\HomeController::HOME_ROUTE_NAME')) }}" class="menu-link">
            {{ _a('Home') }}
        </a>
    </li>

    {% if constant('App\\AdminSecurity\\AdminSecurityModule::ENABLE') %}
        <li class="menu-item">
            <a href="{{ path(constant('App\\AdminSecurity\\Infrastructure\\Controller\\LogoutController::LOGOUT_ROUTE_NAME')) }}" class="menu-link">
                {{ _a('Logout') }}
            </a>
        </li>
    {% endif %}
</ul>
