<li class="menu-item">
    <a href="{{ path(constant('App\\Blog\\Infrastructure\\Controller\\BlogController::BLOG_ROUTE_NAME')) }}"
       class="menu-link {{ app.request.get('_route') in [constant('App\\Blog\\Infrastructure\\Controller\\BlogController::BLOG_ROUTE_NAME')] ? 'active' }}"
    >
        {{ _('Blog') }}
    </a>
</li>
