<li class="menu-item">
    <a href="{{ path(constant('App\\Blog\\RouteName::BLOG')) }}"
       class="menu-link {{ app.request.get('_route') in [constant('App\\Blog\\RouteName::BLOG')] ? 'active' }}"
    >
        {{ _('Blog') }}
    </a>
</li>
